<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Create a Poll</title>
</head>
<body class="bg-dark">
    <h1 class="display-4 text-center text-light">Create a Poll</h1>
    <form class="mx-auto" id="myForm" action="http://localhost:5000/polls" method="POST">
        <label class="text-light text-center display-5" for="poll_title">Poll Title:</label>
        <input class="bg-dark text-light" type="text" id="poll_title" name="poll_title" required><br><br>
        <input type="hidden" name="json_data" ="json_data" value="">

        <label class="text-light" for="poll_description">Poll Description:</label>
        <textarea class="bg-dark text-light" id="poll_description" name="poll_description" rows="4" cols="50"></textarea><br><br>

        <h2 class="text-light text-center display-4">Choices:</h2>
        <div id="choices">
            <div class="choice">
                <label class="text-light" for="choice_1">Choice 1:</label>
                <input class="bg-dark text-light" type="text" id="choice_1" name="choices[]" required>
            </div>
        </div>
        <button type="button" onclick="addChoice()">Add Choice</button><br><br>

        <input type="submit" value="Create Poll">
    </form>

    <script>
        let choiceCount = 1;

        function addChoice() {
            choiceCount++;
            const choiceDiv = document.createElement("div");
            choiceDiv.classList.add("choice");

            const label = document.createElement("label");
            label.setAttribute("for", `choice_${choiceCount}`);
            label.setAttribute("class", `text-light`);
            label.textContent = `Choice ${choiceCount}:`;

            const input = document.createElement("input");
            input.setAttribute("type", "text");
            label.setAttribute("class", `bg-dark text-light`);
            input.setAttribute("id", `choice_${choiceCount}`);
            input.setAttribute("name", "choices[]");
            input.setAttribute("required", "required");

            choiceDiv.appendChild(label);
            choiceDiv.appendChild(input);

            document.getElementById("choices").appendChild(choiceDiv);
        }


        document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        // Serialize the form data into a JSON object
        var formData = new FormData(this);
        var formDataObject = {};
        formData.forEach(function(value, key) {
            if (key in formDataObject) {
                if (!Array.isArray(formDataObject[key])) {
                    formDataObject[key] = [formDataObject[key]];
                }
                formDataObject[key].push(value);
            } else {
                formDataObject[key] = value;
            }
        });

        // Convert the JSON object to a JSON string
        var jsonString = JSON.stringify(formDataObject);
        fetch(`/polls`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: jsonString,
        })

    });
    </script>


</body>
    {% include "footer.html" %}  <!-- Include the footer template -->
</html>
