<!DOCTYPE html>
<html>
<head>
    <title>Poll Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark">
    <h1 class="text-light text-center" id="poll-title">Poll Choices</h1>

    <p class="text-light text-center" id="poll-description"></p>

    <ul class="list-group text-center" id="choices-list"></ul>

    <h2 class="text-light text-center">Vote for a Choice</h2>
    <form class="form-select mx-auto" id="vote-form">
      <div class="mb-3 d-flex justify-content-center align-items-center">
        <select "form-select mx-auto" id="choice-select">
            <!-- Options will be populated using JavaScript -->
        </select>
        <button class="btn btn-primary" type="submit">Vote</button>
       </div>
    </form>

    <div id="result-message"></div>

    <script>
fetch(`/getpoll/{{ pollID }}`)
            .then(response => response.json())
            .then(data => {
                // Update the HTML elements with poll data
                document.getElementById('poll-description').textContent = data.description;
              document.getElementById('poll-title').textContent = data.title
            });

    // Fetch poll choices and populate the options in the dropdown
    fetch(`/getChoices/{{ pollID }}`)
        .then(response => response.json())
        .then(data => {
            const choicesList = document.getElementById("choices-list");
            const choiceSelect = document.getElementById("choice-select");

            data.forEach(choice => {
                choicesList.innerHTML += `<li class="list-group-item bg-dark text-light">${choice[1]}</li>`;
                choiceSelect.innerHTML += `<option value="${choice[1]}">${choice[1]}</option>`;
            });
        })
        .catch(error => console.error("Error fetching poll choices:", error));

    // Handle form submission (voting)
    const voteForm = document.getElementById("vote-form");
    const resultMessage = document.getElementById("result-message");

    voteForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const selectedChoice = document.getElementById("choice-select").value;
        if (!selectedChoice) {
            resultMessage.textContent = "Please select a choice.";
            return;
        }

        fetch(`/voteEndpoint/{{ pollID }}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ choice: selectedChoice }),
        })
            .then(response => response.json())
            .then(data => {
                resultMessage.textContent = data.message;
            })
            .catch(error => console.error("Error submitting vote:", error));
    });
    </script>
</body>
</html>
